body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.div {
    width: 500px;
    height: auto;
    margin-top: 60px;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 5px;
}

.title {
    text-align: center;
}

li {
    margin: 6px 0;
    font-size: 20px;
}